{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="Short summary of the website, couple of example rivalries from the database." />
{% endblock %}

{% block app_content %}
<div class="description" data-background-color="black">
    <h2 class="text-warning">About</h2>
        <p class="description">
            <i>NextSoccerDerby</i> provides a simple, compact and easy-to-navigate place to find dates of upcoming spectacular clashes between rival soccer teams.
            <br><br>
            Tracking derbies from all around the world, ranging from the notorious <a class="text-warning" href="https://en.wikipedia.org/wiki/El_Cl%C3%A1sico">El Clásico</a>,
            through <a class="text-warning" href="https://en.wikipedia.org/wiki/Derby_d%27Italia">Derby d'Italia</a> and <a class="text-warning" href="https://en.wikipedia.org/wiki/Derby_della_Madonnina">Derby della Madonnina</a> in Italy,
            a tense German <a class="text-warning" href="https://en.wikipedia.org/wiki/Der_Klassiker">Der Klassiker</a>,
            prestige city battles <a class="text-warning" href="https://en.wikipedia.org/wiki/North_London_derby">North London derby</a> and <a class="text-warning" href="https://en.wikipedia.org/wiki/Manchester_derby">Manchester derby</a> in English Premier League,
            to <a class="text-warning" href="https://en.wikipedia.org/wiki/The_Intercontinental_Derby">The Intercontinental Derby</a> and <a class="text-warning" href="https://en.wikipedia.org/wiki/Supercl%C3%A1sico">Superclásico</a> in Argentina,
            <i>NextSoccerDerby</i> helps you to keep track of all the must-watch match-ups.
            <br><br><br>
            Please, grab a snack and have a seat. It's <i>derby</i> time!
            <br><br>
        </p>
</div>
{% endblock %}
