{% extends "base.html" %}


{% block app_content %}
<div class="article">
    <h2 class="text-warning">{{ article.title }}
        <br>
        <small>
            {% if article.has_subtitle() %}
            {{ article.subtitle }}
            {% endif %}
        </small>
    </h2>
    {% for p in article.get_article_paragraphs() %}
    <p>
        {{ p }}
    </p>
    {% endfor %}
    <p class="text-warning">
        By {{ article.author.username }}
    </p>
    {% if current_user.is_authenticated and (current_user == article.author or current_user.is_admin()) %}
    <p><a href="{{ url_for('edit_article', article_id=article.id) }}">Edit article</a></p>
    {% endif %}
</div>
{% endblock %}
