<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            NextSoccerDerby:
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% if current_user.username == 'jac08h' %}
                    <a href="{{ url_for('control_panel') }}">CP</a>
                {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>