{% extends 'bootstrap/base.html' %}
<html>
<head>
{% block title %}
{% if title %}{{ title }} - NextSoccerDerby>{% else %}Next Soccer Derby{% endif %}
{% endblock %}

{% block scripts %}

<script src="{{ url_for('.static', filename='js/core/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('.static', filename='js/core/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('.static', filename='js/core/bootstrap.min.js') }}" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- needs to be listed after other scripts  -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/r-2.2.3/datatables.min.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/now-ui-kit.min.css')}}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/r-2.2.3/datatables.min.css"/>
{% endblock %}
</head>




<body class="index-page sidebar-collapse">
{% block navbar %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="400">
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand text-warning" href="{{ url_for('index') }}">
                Next Soccer Derby
			</a>
			<a class="navbar-brand" href="{{ url_for('about') }}">
				About
			</a>
			<a class="navbar-brand" href="{{ url_for('credits') }}">
                Credits
			</a>
		</div>
	</div>
</nav>
<!-- End Navbar -->
{% endblock %}

{% block content %}
	<div class="wrapper">
		<div class="page-header clear-filter">
			<div class="page-header-image" data-parallax="true" style="background-image:url('https://c.pxhere.com/photos/b3/a2/soccer_sport_running_team_floodlight-9188.jpg!d');">
			</div>
			<div class="container">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-info" role="alert">{{ message }}</div>
				{% endfor %}
				{% endif %}
				{% endwith %}

				{# application content needs to be provided in the app_content block #}
				{% block app_content %}{% endblock %}
			</div>
		</div>
	</div>

{% block footer %}
<footer class="footer" data-background-color="black">
	<div class="container text-center">
		<p class="copyright">The fixtures data are licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/" class="text-warning">Creative Commons Attribution-ShareAlike License</a> |  © 2020 Jakub Halmeš </p>

	</div>
</footer>
{% endblock %}
{% endblock %}

</body>
</html>
