{% extends "base.html" %}

{% block content %}
<h2>Add new match</h2>
<form action="" method="post">
    {{ add_derby_form.hidden_tag() }}
    <p>
        {{ add_derby_form.wikipedia_url.label }}<br>
        {{ add_derby_form.wikipedia_url(size=32) }}<br>
        {% for error in add_derby_form.wikipedia_url.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_derby_form.title.label }}<br>
        {{ add_derby_form.title(size=32) }}<br>
        {% for error in add_derby_form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_derby_form.country.label }}<br>
        {{ add_derby_form.country(size=32) }}<br>
        {% for error in add_derby_form.country.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ add_derby_form.submit() }}</p>
</form>
<br>
<h2>Update dates</h2>
<form action="" method="post">
    {{ update_dates_form.hidden_tag() }}
    {{ update_dates_form.update_dates() }}
</form>
{% endblock %}
