{% extends "base.html" %}

{% block app_content %}
<div data-background-color="black">
    <h2 class="text-warning">Credits</h2>
    <div class="description">
        <p>
            Data from <a href="https://www.wikipedia.org/" class="text-warning">Wikipedia</a>.<br>
            Theme from <a href="https://www.creative-tim.com/" class="text-warning">Creative Tim</a>.<br>
            Background image found at <a href="https://pixabay.com/" class="text-warning">Pixabay</a>.
            <br><br>
            <p>Development of this website would not be possible without countless contributors in open-source and copyright-free community.</p>
            <p><i>Thank you!</i></p>
        </p>
    </div>
</div>
{% endblock %}
