{% extends "base.html" %}

{% block title %}
Credits
{% endblock %}

{% block app_content %}
<div data-background-color="black">
    <h2 class="text-warning">Credits</h2>
    <div class="description">
        <p>
            Data from <a href="https://www.wikipedia.org/" class="text-warning">Wikipedia</a>.<br>
            Theme from <a href="https://www.creative-tim.com/" class="text-warning">Creative Tim</a>.<br>
            Background image found at <a href="https://pixabay.com/" class="text-warning">Pixabay</a>.
            <br>
            Development of this website would not be possible without countless contributors in open-source and copyright-free community.
            <i>Thank you!</i>
            <br>
            <br>
            The source code of this website can be found <a href="https://www.github.com/jac08h/NextSoccerDerby" class="text-warning">here</a>.
        </p>
    </div>
</div>
{% endblock %}
