{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="Answers to the most common questions." />
{% endblock %}

{% block app_content %}
<div class="text-layout">
    <h2 class="text-warning">Frequently Asked Questions</h2>
    <div>
        <p class="title text-warning">How can I add a match?</p>
        <p class="description">At the moment, there is no method for visitors to add nor request matches. It is possible that this functionality will be added in the future.</p>
        <p class="title text-warning">I can't see any matches! What's wrong?</p>
        <p class="description">To display a table, the website uses <a href="https://www.datatables.net/" class="text-primary">DataTables</a> plugin.
            Please, make sure your adblocking extensions are not blocking the website from accessing it.</p>
        <p class="title text-warning">Is there any way to contact you?</p>
        <p class="description">Please, go ahead! If you found an error or you've got an idea for improvement, shoot me an email at <a href="mailto:jac08h@pm.me" class="text-primary">jac08h@pm.me</a>.</p>
        <br>
    </div>
</div>
{% endblock %}
