{% extends "base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block app_content %}
<div data-background-color="black">
    <h2 class="text-warning">Frequently Asked Questions</h2>
    <div class="description">
        <p class="title text-warning">What does a '?' symbol mean in Date and Competition column?</p>
        <p>A question mark is displayed if there is no information about the next meet-up.</p>
        <p class="title text-warning">How can I add a match?</p>
        <p>At the moment, there is no method for visitors to add nor request matches. It is possible that this functionality will be added in the future.</p>
        <p class="title text-warning">I can't see any matches! What's wrong?</p>
        <p>To display a table, the website uses <a href="https://www.datatables.net/" class="text-primary">DataTables</a> plugin.
            Please, make sure your adblocking extensions are not blocking the website from accessing it.</p>
        <p class="title text-warning">Is there any way to contact you?</p>
        <p>Please, go ahead! If you found an error or you've got an idea for improvement, shoot me an email at <a href="mailto:jac08h@pm.me" class="text-primary">jac08h@pm.me</a></p>.
    </div>
</div>
{% endblock %}
