{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="Derbies from all around the world sorted by the date of next ame. Never miss another El Clásico!" />
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready( function () {
        $('#table_id').DataTable( {
                "ajax": {
                    "url": "/fixtures",
                    "type": "POST"
                    },
                "order": [[ 1, "asc" ]],
                "responsive": true,
                "scrollY":        "50vh",
                "scrollCollapse": true,
                "paing":         false,
                "columnDefs": [
                    {
                        "targets": [ 2 ],
                        "visible": false,
                    }
                ]
                }
        );
    });
</script>
{% endblock %}

{% block app_content %}
<table id="table_id" class="display table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th class="text-warning">Title</th>
            <th class="text-warning">Date</th>
            <th class="text-warning">Competition</th>
            <th class="text-warning">Team #1</th>
            <th class="text-warning">Team #2</th>
            <th class="text-warning">Country</th>
        </tr>
    </thead>
</table>
<p class="text-warning">Last updated: {{ last_updated }}</p>
{% endblock %}

