{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description"
      content="Derbies from all around the world sorted by the date of next meeting. Never miss another El Clásico!"/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/index.js') }}" type="text/javascript"></script>
{% endblock %}

{% block app_content %}
<table id="fixtures_table" class="display table table-dark table-striped table-hover">
    <thead>
    <tr>
        <th class="text-warning"><i class="fas fa-futbol"></i> &nbsp;Title</th>
        <th class="text-warning"><i class="fas fa-calendar-day"></i> &nbsp;Date</th>
        <th class="text-warning"><i class="fas fa-running"></i> &nbsp;Teams</th>
        <th class="text-warning"><i class="fas fa-calendar-day"></i> &nbsp;Competition</th>
        <th class="text-warning"><i class="fas fa-calendar-day"></i> &nbsp;Country</th>
        <th></th>
    </tr>
    </thead>
</table>
<p class="text-warning">Last updated: {{ last_updated }}</p>
{% endblock %}

