{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready( function () {
        $('#table_id').DataTable( {
                "ajax": {
                    "url": "/fixtures",
                    "type": "POST"
                    }
                }
            );
        });
</script>
{% endblock %}

{% block app_content %}
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Team A</th>
            <th>Team B</th>
            <th>Date</th>
            <th>Competition</th>
            <th>Country</th>
        </tr>
    </thead>
</table>
{% endblock %}

