{% extends "base.html" %}

{% block app_content %}
<div data-background-color="black">
    <h2 class="text-warning">Matchlist</h2>
    <h3 class="text-warning">Date to be announced</h3>
    <div class="description">
        <ul>
            {% for title in tba_titles %}
            <li class="text-p">{{ title }}</li>
            {% endfor %}
        </ul>
    </div>
    <h3 class="text-warning">Known date</h3>
    <div class="description">
        <ul>
            {% for title in known_titles %}
            <li>{{ title }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
